body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-image {
  max-width: 120px;
  height: auto;
}

.normal-cursor:hover {
  cursor: default;
}

.link-cursor:hover {
  cursor: pointer;
}

.margin-left {
  margin-left: 20px;
}

.margin-right {
  margin-right: 20px;
}
