body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-image {
  max-width: 240px;
  height: auto;
}

.normal-cursor:hover {
  cursor: default;
}

.link-cursor:hover {
  cursor: pointer;
}

.margin-left {
  margin-left: 20px;
}

.margin-right {
  margin-right: 20px;
}

.cat {
  margin: 10px 0px;
  font-weight: bold;
}

.pagination {
  display: flex;
  align-content: center;
  justify-content: center;
}

.pages {
  padding: 10px;
}

.review-user {
  text-align: right;
}

.no-border {
  border: none;
}
